html {
}

body {
	margin: 0px;
	background: linear-gradient(180deg, rgba(61, 31, 243, 0.93) 0%, #F08726 99.99%, rgba(250, 255, 0, 0.79) 100%);
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 8px 10px;
	align-items: center;
	background: #3C39396B;
}

.user-icon {
	width: 45px;
	height: 45px;
	background-color: gray;
	border-radius: 50%;
}

.title-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.first-section {
	height: 430px;
	background-color: #C4C4C436;
}

.title {
	color: #F2F2F2;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	margin:15px;
}

.mobile-menu {
	width: 32px;
	height: 30px;
	cursor: pointer;
}

.images-title {
	height: 270px;
	width: 220px;
	margin: 45px;
	border-radius: 15px;
}

.images-arrow {
	height: 40px;
	width: 30px;
	align-items: center;
}

.slider-arrow {
	position: absolute;
    top: 43%;
}

.slider-right-arrow {
	left: calc(100% - 100px);
}

.slider-left-arrow {
	right: calc(100% - 100px);
}

.images-container {
	display: flex;
    justify-content: center;
    position: relative;
}

.second-section {
    height: 350px;
    margin:70px;
}

.masters-container {
	display: flex;
    justify-content: center;
}

.masters {
	height: 130px;
	width: 130px;
}

.price-container {
	height: 340px;
	width: 260px;
	background: rgba(0, 0, 0, 0.23);
	margin:25px;
}

.image-master-container {
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.name {
    color: #C4C4C4;
	font-size: 25px;
	display: flex;
    justify-content: center;
    margin: 30px;	
}

.price {
	display: flex;
    justify-content: center;
}

.price-pink {
    cursor: pointer;
    color: white;
    background-color: #B16571;
    border-radius: 5% 0% 0% 5%;
    font-size: 23px;
    height: 32px;
    width: 120px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.price-white {
    background-color: white;
    border-radius: 0% 5% 5% 0%;
    font-size: 23px;
    height: 32px;
    width: 60px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.third-section {
    width: 700px;
    height: 250px;
}

.title-two {
	color: #F2F2F2;
	font-size: 50px;
	font-family: 'Comfortaa', sans-serif;
	margin:50px;
	text-align: center;
}

.star-flex {
	display: flex;
    justify-content: center;
    margin:30px;
}

.stars-margin {
    align-items: center;
    margin: 30px;
}

.stars {
    height: 90px;
    width: 90px;
    margin: 10px;
}

.star-text {
	font-family: 'Comfortaa', sans-serif;
	font-size: 50px;
    font-weight: bold;
}

.fifth-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	color: #E0E0E0;
	background-color: #442CAC;
	border-radius: 20px;
	font-size: 65px;
	height: 140px;
	width: 560px;
	align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin:150px;
}

.sixth-section {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%
}

.footer {
    padding: 60px 30px;
    background-color: rgba(0, 0, 0, 0.29);
    display: flex;
    flex-wrap: wrap;
}

.footer-text {
	color: white;
	font-size: 30px;
	font-family: 'Manrope', sans-serif;
}