html {
	height: 1500px;
}

body {
	margin: 0px;
	background: linear-gradient(180deg, rgba(61, 31, 243, 0.93) 0%, #F08726 99.99%, rgba(250, 255, 0, 0.79) 100%);
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 8px 10px;
	align-items: center;
	background: #3C39396B;
}

.user-icon {
	width: 45px;
	height: 45px;
	background-color: gray;
	border-radius: 50%;
}

.title-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.first-section {
	height: 430px;
	background-color: #C4C4C436;
}

.title {
	color: #F2F2F2;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	margin:15px;
}

.mobile-menu {
	width: 32px;
	height: 30px;
	cursor: pointer;
}

.images-title {
	height: 270px;
	width: 220px;
	margin: 45px;
	border-radius: 15px;
}

.images-arrow {
	height: 40px;
	width: 30px;
	align-items: center;
}

.slider-arrow {
	position: absolute;
    top: 43%;
}

.slider-right-arrow {
	left: calc(100% - 100px);
}

.slider-left-arrow {
	right: calc(100% - 100px);
}

.images-container {
	display: flex;
    justify-content: center;
    position: relative;
}

.second-section {
    height: 350px;
}

.masters-container {
	display: flex;
    justify-content: center;
}

.masters {
	height: 130px;
	width: 130px;
}

.price-container {
	height: 340px;
	width: 260px;
	margin-right: 40px;
	margin-top: 50px;
	background: rgba(0, 0, 0, 0.23);
}

.image-master-container {
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.name {
    color: #C4C4C4;
	font-size: 25px;
	display: flex;
    justify-content: center;
    margin: 30px;	
}

.price {
	display: flex;
    justify-content: center;
}

.price-pink {
    cursor: pointer;
    color: white;
    background-color: #B16571;
    border-radius: 5% 0% 0% 5%;
    font-size: 23px;
    height: 32px;
    width: 120px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.price-white {
    background-color: white;
    border-radius: 0% 5% 5% 0%;
    font-size: 23px;
    height: 32px;
    width: 60px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
    
}